@import "../../styles/index";

@font-face {
  font-family: 'open_sanscondensed_light';
  src: url('./fonts/opensans-condlight-webfont.woff2') format('woff2'),
  url('./fonts/opensans-condlight-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

//@mixin test($color) {
//  color: $color;
//}
//
//@mixin test1($prop, $color) {
//  a.#{$prop}, button.#{$prop} {
//    //#{$prop}: $color;
//    color: $color;
//  }
//}
//
//.main-#{$foo} {
//  flex: 1;
//  color: #{$foo};
//  //#{$foo}: 10;
//  @include test1(test, white);
//}

.app__wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.app__header {
  /*style*/
}

.app__main {
  flex: 1;
}

.nav {
  /*style*/
}

.container {
  /*style*/
}