.header {
  padding-top: $p-sm;
  padding-bottom: $p-sm;
  background-color: $header-gray;
  border-bottom: 1px solid darken($header-gray, 5%);
  text-align: center;
  background: #{inline-image('src/components/App/Footer/github.svg')};
}