doctype html
html
  head
    meta(http-equiv='Content-Type', content = 'text/html; charset=utf-8')
    meta(http-equiv='X-UA-Compatible', content="IE=edge,chrome=1")
    meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui')
    meta(name='fragment', content='!')

    title Github Issues Test App

    //link(rel='shortcut icon' href='http://d1dlocfje6a34f.cloudfront.net/currentimages/shop/images/favicon.ico')
    link(rel='stylesheet' type='text/css' href='#{stylePath}/index.css' media='screen, projection, print')


  body
    div#wrapper
    <!--[if IE 8]>
    <p class="chromeframe">You're probably using an outdated browser, friend. Please, <a href="http://browsehappy.com/">download new browser for free</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a></p>
    <![endif]-->

    script(src='#{scriptPath}/bundle.js')
